<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ph34/sharereports/public/css/destyle.css">
    <link rel="stylesheet" href="/ph34/sharereports/public/css/main.css 
" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Secular+One&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <h1><a href="/ph34/sharereports/public/">ShareReport</a></h1>

    </header>
    <main>
        <article>
            <h2>多分DBに接続できんかったわ
            </h2>
            <h2>ここから戻ってくれや→<a href="/ph34/sharereports/public/">戻る</a></h2>
        </article>
    </main>
    <footer>
        <h2>@2020.ShareReport</h2>
    </footer>
    <script src="/ph34/sharereports/public/js/app.js"></script>
</body>

</html>